

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #f4f4f9; /* Fondo claro para contraste */
  font-family: 'VT323', monospace;
}

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background: linear-gradient(45deg, peru, goldenrod);
  color: white;
  height: 100px; 
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  
}

.logo {
  width: 25%; /* Tamaño del logo */
  height: auto;
}

#container {
  width: 97%;
  /*max-width: 1200px; /* Limita el ancho en pantallas grandes */
  margin: 20px auto;
}

#info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
  margin: 20px 0;
}

#MiPoke, #TuPoke {
  height: auto;
  max-width: 200px;
}

.stats {
  font-family: 'VT323', monospace;
  background: #ffffff; /* Fondo blanco para contraste */
  border: 1px solid #ddd; /* Borde sutil */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px;
  width: 13%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  text-align: center;
}

#arena {
 
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* Para mantener una proporción fija de 16:9 */
  aspect-ratio: 16 / 9; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.background-1 {
  width: 90%; 
  max-width: 1200px; /* Máximo ancho en pantallas grandes */
  background-image: url('./fondo.png');
}

.background-2 {
  width: 80%; 
  max-width: 1000px; /* Máximo ancho en pantallas grandes */
  background-image: url('./images.png');
}

.background-1 #pokePropio {
  object-fit: contain;
  position: absolute;
  transition: all 0.3s ease;
  top:30%;
  left: 15%;
  height: 70%;
}

.background-1 #pokeRival {
  object-fit: contain;
  position: absolute;
  transition: all 0.3s ease;
  top:1%;
  left: 50%;
  height: 70%;
}

.background-2 #pokePropio {
  object-fit: contain;
  transition: all 0.3s ease;
  position: absolute;
  top: 40%;
  left: 10%;
  height: 70%;
}

.background-2 #pokeRival {
  object-fit: contain;
  transition: all 0.3s ease;
  position: absolute;
  top: 1%;
  left: 55%;
  height: 70%;
}

#UI {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

#UI input {
  padding: 10px;
  font-size: 16px;
  width: 100px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#UI button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: peru;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#UI button:hover {
  background-color: goldenrod;
  transform: scale(1.05);
}
@media (max-width: 768px) {
  #arena {
    width: 90vw;
    height: 50vh; 
  }
  #pokePropio, #pokeRival {
    max-width: 100%;
  }
}

